.app-sidebar__overlay {
  position: fixed;
  z-index: var(--z-sidebar-overlay);
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: vh(100);
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(to-rem(4));
  background-color: rgb(var(--col-total-black-rgb), 88%);
  opacity: 0;
  visibility: hidden;

  &--is-visible {
    opacity: 1;
  }

  &--animation {
    transition-duration: var(--slow-transition-duration);
    transition-property: opacity;
    transition-timing-function: var(--slide-transition-timing-function);
    visibility: visible;
  }
}

.app-sidebar__content {
  position: fixed;
  z-index: var(--z-app-sidebar);
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  width: min(100%, #{to-rem(480)});
  align-items: center;
  justify-content: center;
  padding: var(--app-navbar-height) to-rem(20) to-rem(32);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
  overscroll-behavior: none;
  transform: translateX(100%);
  user-select: none;
  will-change: transform;

  @include bg-img-webp('/img/bg/sidebar-ver');

  @include high-resolution-screen {
    @include bg-img-webp('/img/bg/sidebar-ver@2x');
  }

  .app-sidebar__overlay--is-visible & {
    transform: translateX(0);
  }

  .app-sidebar__overlay--animation & {
    transition-duration: var(--slow-transition-duration);
    transition-property: transform;
    transition-timing-function: var(--slide-transition-timing-function);
  }
}

.app-sidebar__nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-sidebar__nav-list-item {
  &:not(:last-child) {
    margin-bottom: to-rem(40);
  }

  button {
    font-size: to-rem(18);
    text-transform: uppercase;
    transition: color var(--hover-transition);

    @include hover {
      color: var(--col-tibetan-yellow);
    }
  }
}
