html,
.scrollbar {
  scrollbar-color: var(--col-bilberry) rgb(var(--col-total-white-rgb) 15%);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: to-rem(4);
  height: to-rem(4);
}

::-webkit-scrollbar-track {
  border-radius: to-rem(10);
  background-color: rgb(var(--col-total-white-rgb) 15%);
}

::-webkit-scrollbar-thumb {
  border-radius: to-rem(10);
  background-color: var(--col-bilberry);
}
