$col-shadow-warrior: #161c18;
$col-shadow-warrior-rgb: hex-to-rgb($col-shadow-warrior);

$col-bilious-brown: #e6a409;
$col-bilious-brown-rgb: hex-to-rgb($col-bilious-brown);

$col-hollandaise: #ffec44;
$col-hollandaise-rgb: hex-to-rgb($col-hollandaise);

$col-tropical-funk: #58da00;
$col-tropical-funk-rgb: hex-to-rgb($col-tropical-funk);

$col-grass: #64b52d;
$col-grass-rgb: hex-to-rgb($col-grass);

$col-classic-green: #309e3a;
$col-classic-green-rgb: hex-to-rgb($col-classic-green);

$col-hazel-woods: #48564c;
$col-hazel-woods-rgb: hex-to-rgb($col-hazel-woods);

$col-protoss-pylon: #00a3ff;
$col-protoss-pylon-rgb: hex-to-rgb($col-protoss-pylon);

$col-envious-pastel: #d1f3bb;
$col-envious-pastel-rgb: hex-to-rgb($col-envious-pastel);

$col-dark-dide-of-the-moon: #050a07;
$col-dark-dide-of-the-moon-rgb: hex-to-rgb($col-dark-dide-of-the-moon);
