$col-total-black: #000000;
$col-total-black-rgb: hex-to-rgb($col-total-black);

$col-total-white: #ffffff;
$col-total-white-rgb: hex-to-rgb($col-total-white);

$col-dark-tone-ink: #121212;
$col-dark-tone-ink-rgb: hex-to-rgb($col-dark-tone-ink);

$col-shadow-warrior: #161c18;
$col-shadow-warrior-rgb: hex-to-rgb($col-shadow-warrior);

$col-tibetan-yellow: #fedf00;
$col-tibetan-yellow-rgb: hex-to-rgb($col-tibetan-yellow);

$col-nuclear-fallout: #ac9700;
$col-nuclear-fallout-rgb: hex-to-rgb($col-nuclear-fallout);

$col-gordons-green: #28302a;
$col-gordons-green-rgb: hex-to-rgb($col-gordons-green);

$col-kuro-green: #111b14;
$col-kuro-green-rgb: hex-to-rgb($col-kuro-green);

$col-rich-olive: #3e4a41;
$col-rich-olive-rgb: hex-to-rgb($col-rich-olive);

$col-vermilion-cinnabar: #e63946;
$col-vermilion-cinnabar-rgb: hex-to-rgb($col-vermilion-cinnabar);

$col-radiant-silver: #8f969c;
$col-radiant-silver-rgb: hex-to-rgb($col-radiant-silver);

$col-bilberry: #72787e;
$col-bilberry-rgb: hex-to-rgb($col-bilberry);

$col-bilious-brown: #e6a409;
$col-bilious-brown-rgb: hex-to-rgb($col-bilious-brown);

$col-hollandaise: #ffec44;
$col-hollandaise-rgb: hex-to-rgb($col-hollandaise);

$col-tropical-funk: #58da00;
$col-tropical-funk-rgb: hex-to-rgb($col-tropical-funk);

$col-grass: #64b52d;
$col-grass-rgb: hex-to-rgb($col-grass);

$col-classic-green: #309e3a;
$col-classic-green-rgb: hex-to-rgb($col-classic-green);

$col-hazel-woods: #48564c;
$col-hazel-woods-rgb: hex-to-rgb($col-hazel-woods);

$col-protoss-pylon: #00a3ff;
$col-protoss-pylon-rgb: hex-to-rgb($col-protoss-pylon);

$col-island-palm: #697a6d;
$col-island-palm-rgb: hex-to-rgb($col-island-palm);

$col-envious-pastel: #d1f3bb;
$col-envious-pastel-rgb: hex-to-rgb($col-envious-pastel);

$col-dark-dide-of-the-moon: #050a07;
$col-dark-dide-of-the-moon-rgb: hex-to-rgb($col-dark-dide-of-the-moon);
