<section class="chest-section js-chest-section">
  <div class="chest-section__container container">
    <button
      class="chest-section__main-chest js-main-chest"
      type="button"
      aria-label="Abra o caso"
    ></button>

    <h1 class="chest-section__title">
      Vulputate
      <br />
      tincidunt ultrices
    </h1>
    <button
      class="app-button chest-section__open-chest-btn js-open-chest-btn"
      type="button"
      aria-label="Abra o caso"
    >
      {{> svg-icon class='chest-section__open-chest-btn-icon' width="25"
      height="24" name='gift-open' }}
      <span>Abra o caso!</span>
    </button>
    <p class="chest-section__bonus-tries-text">
      Você tem
      <span class="chest-section__bonus-tries-text-accent"
        ><span class="js-bonus-tries">2</span> tentativas</span
      >
      para abrir o caso
    </p>
    <ul class="chest-section__bonuses-row">
      <li
        class="chest-section__bonus-wrapper chest-section__bonus-wrapper--first"
      >
        <picture class="chest-section__bonus-img">
          <source
            type="image/webp"
            srcset="
              /img/prizes/present.webp     60w,
              /img/prizes/present@2x.webp 120w
            "
            sizes="60px"
          />
          <source
            type="image/png"
            srcset="
              /img/prizes/present.png     60w,
              /img/prizes/present@2x.png 120w
            "
            sizes="60px"
          />
          <img
            src="/img/prizes/present.png"
            width="60"
            height="60"
            alt=""
            loading="lazy"
          />
        </picture>
        <h3 class="chest-section__bonus-title">250 Giros Grátis</h3>
        <div>Accumsan egestas</div>
      </li>
      <li
        class="chest-section__bonus-wrapper chest-section__bonus-wrapper--second"
      >
        <picture class="chest-section__bonus-img">
          <source
            type="image/webp"
            srcset="/img/prizes/chest.webp 60w, /img/prizes/chest@2x.webp 120w"
            sizes="60px"
          />
          <source
            type="image/png"
            srcset="/img/prizes/chest.png 60w, /img/prizes/chest@2x.png 120w"
            sizes="60px"
          />
          <img
            src="/img/prizes/chest.png"
            width="60"
            height="60"
            alt=""
            loading="lazy"
          />
        </picture>
        <h3 class="chest-section__bonus-title">4000 R$ Bonus</h3>
        <div>Accumsan egestas</div>
      </li>
    </ul>
  </div>
</section>
