<section class="statistic-section">
  <h2 class="visually-hidden">Estatisticas</h2>

  <div class="statistic-section__container container">
    <div class="statistic-section__param-wrapper">
      {{> svg-icon class='statistic-section__param-icon statistic-section__param-icon--user' width="18" height="18"
      name='user' }}
      <p class="statistic-section__param-number">{{users}}</p>
      <p>Jogadoras</p>
    </div>
    <div class="statistic-section__param-wrapper">
      {{> svg-icon class='statistic-section__param-icon statistic-section__param-icon--chest' width="18" height="18"
      name='treasure-chest' }}
      <p class="statistic-section__param-number">{{cases}}</p>
      <p>Casos</p>
    </div>
    <div class="statistic-section__param-wrapper">
      {{> svg-icon class='statistic-section__param-icon statistic-section__param-icon--online' width="18" height="18"
      name='users-solid' }}
      <p class="statistic-section__param-number">{{online}}</p>
      <p>On-line</p>
    </div>
  </div>
</section>
